<div class="container mt-5"> 
<table class="table table-striped  table-bordered">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fieldArray; let i = index">
            <td>
                <input  class="form-control" type="number" name="{{field.code}}" />
            </td>
            <td>
                <input  class="form-control" type="text" name="{{field.name}}" />
            </td>
            <td>
                <input  class="form-control" type="number" name="{{field.price}}" />
            </td>
            <td>
                <button class="btn btn-primary"  type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
        </tr>
        <tr>
            <td>
                <input class="form-control" type="number"  name="newAttributeCode" />
            </td>
            <td>
                <input class="form-control" type="text"   name="newAttributeName" />
            </td>
            <td>
                <input class="form-control" type="number"  name="newAttributePrice" />
            </td>
            <td>
                <button class="btn btn-warning" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
        
    </tbody>
</table>
</div>
