<section class="vh-300" style="background-color: #eee;">
    <div class="container-fluid h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class=" mt-4 text-black">
                    <form class="mx-1 mx-md-4" [formGroup]="signupform" (ngSubmit)="onSubmit()">
                        <div class=" p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-4 col-xl-4 order-2 order-lg-1">

                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">

                                            <input type="number" class="form-control " id="PatientNo"
                                                formControlName="patientNo" placeholder="Patient Number">

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" class="form-control " id="mobileNo"
                                                formControlName="mobileNo" placeholder="Mobile Number"
                                                [ngClass]="{ 'is-invalid': Submitted && f['mobileNo'].errors || f['mobileNo'].touched&& f['mobileNo'].errors }" />
                                            <div *ngIf="Submitted && f['mobileNo'].errors|| f['mobileNo'].touched&& f['mobileNo'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['mobileNo'].errors['required']">Mobile Number is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="name"
                                                formControlName="spouseName" placeholder="Spouse Name"
                                                [ngClass]="{ 'is-invalid': Submitted && f['Email'].errors || f['spouseName'].touched&& f['spouseName'].errors }" />
                                            <div *ngIf="Submitted && f['spouseName'].errors|| f['spouseName'].touched&& f['spouseName'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['spouseName'].errors['required']">Spouse Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="bloodgroup" id="bloodgroup"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['bloodgroup'].errors || f['bloodgroup'].touched&& f['bloodgroup'].errors }">

                                                <option value="">Choose bloodgroup</option>
                                                <option value="A+"> (A+)</option>
                                                <option value="A-"> (A-)</option>
                                                <option value="B+"> (B+)</option>
                                                <option value="B-"> (B-)</option>
                                                <option value="O+"> (O+)</option>
                                                <option value="O-"> (O-)</option>
                                                <option value="AB+"> (AB+)</option>
                                                <option value="AB-"> (AB-)</option>

                                            </select>
                                            <div *ngIf="Submitted && f['bloodgroup'].errors|| f['bloodgroup'].touched&& f['bloodgroup'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['bloodgroup'].errors['required']">Blood Group is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" class="form-control " id="age" formControlName="age"
                                                placeholder="Age"
                                                [ngClass]="{ 'is-invalid': Submitted && f['age'].errors || f['age'].touched&& f['age'].errors }" />
                                            <div *ngIf="Submitted && f['age'].errors|| f['age'].touched&& f['age'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['age'].errors['required']">Age is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="gender" id="gender"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['gender'].errors || f['gender'].touched&& f['gender'].errors }">

                                                <option value="">Choose Gender</option>
                                                <option value="female">female</option>
                                                <option value="male">Male</option>

                                            </select>
                                            <div *ngIf="Submitted && f['gender'].errors|| f['gender'].touched&& f['gender'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['gender'].errors['required']">Gender is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="countryId" id="countryId"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['countryId'].errors || f['countryId'].touched&& f['countryId'].errors }">

                                                <option value="">Select countryId</option>

                                            </select>
                                            <div *ngIf="Submitted && f['countryId'].errors|| f['countryId'].touched&& f['countryId'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['countryId'].errors['required']">Country is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" class="form-control " id="name"
                                                formControlName="postalCode" placeholder="Postal code"
                                                [ngClass]="{ 'is-invalid': Submitted && f['postalCode'].errors || f['postalCode'].touched&& f['postalCode'].errors }" />
                                            <div *ngIf="Submitted && f['postalCode'].errors|| f['postalCode'].touched&& f['postalCode'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['postalCode'].errors['required']">Postal code is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-10 col-lg-4 col-xl-4 order-2 order-lg-1">



                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="name" formControlName="firstName"
                                                placeholder="First Name"
                                                [ngClass]="{ 'is-invalid': Submitted && f['firstName'].errors || f['firstName'].touched&& f['firstName'].errors }" />
                                            <div *ngIf="Submitted && f['firstName'].errors|| f['firstName'].touched&& f['firstName'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['firstName'].errors['required']">First Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" class="form-control " id="AlternativeNo"
                                                formControlName="AlternativeNo" placeholder="Alternative Mobile Number"
                                                [ngClass]="{ 'is-invalid': Submitted && f['AlternativeNo'].errors || f['AlternativeNo'].touched&& f['AlternativeNo'].errors }" />
                                            <div *ngIf="Submitted && f['AlternativeNo'].errors|| f['AlternativeNo'].touched&& f['AlternativeNo'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['AlternativeNo'].errors['required']">Alternative Mobile
                                                    Number is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="fatherName"
                                                formControlName="fatherName" placeholder="Father Name"
                                                [ngClass]="{ 'is-invalid': Submitted && f['fatherName'].errors || f['fatherName'].touched&& f['fatherName'].errors }" />
                                            <div *ngIf="Submitted && f['fatherName'].errors|| f['fatherName'].touched&& f['fatherName'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['fatherName'].errors['required']">fatherName is required
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="number" class="form-control " id="weight"
                                                formControlName="weight" placeholder="weight"
                                                [ngClass]="{ 'is-invalid': Submitted && f['weight'].errors || f['weight'].touched&& f['weight'].errors }" />
                                            <div *ngIf="Submitted && f['weight'].errors|| f['weight'].touched&& f['weight'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['weight'].errors['required']">Weight is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" class="form-control " id="name" formControlName="Email"
                                                placeholder="Email"
                                                [ngClass]="{ 'is-invalid': Submitted && f['Email'].errors || f['Email'].touched&& f['Email'].errors }" />
                                            <div *ngIf="Submitted && f['Email'].errors|| f['Email'].touched&& f['Email'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['Email'].errors['required']">Email is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="addressLine1"
                                                formControlName="addressLine1" placeholder="Address 1 "
                                                [ngClass]="{ 'is-invalid': Submitted && f['addressLine1'].errors || f['addressLine1'].touched&& f['addressLine1'].errors }" />
                                            <div *ngIf="Submitted && f['addressLine1'].errors|| f['addressLine1'].touched&& f['addressLine1'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['addressLine1'].errors['required']">Address line 1 is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="stateId" id="stateId"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['stateId'].errors || f['stateId'].touched&& f['stateId'].errors }">

                                                <option value="">Select stateId</option>

                                            </select>
                                            <div *ngIf="Submitted && f['stateId'].errors|| f['stateId'].touched&& f['stateId'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['stateId'].errors['required']">State is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-10 col-lg-4 col-xl-4 order-2 order-lg-1">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" class="form-control " id="name" formControlName="lName"
                                                placeholder="Last Name"
                                                [ngClass]="{ 'is-invalid': Submitted && f['lName'].errors || f['lName'].touched&& f['lName'].errors }" />
                                            <div *ngIf="Submitted && f['lName'].errors|| f['lName'].touched&& f['lName'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['lName'].errors['required']">Last Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="maritalStatus" id="maritalStatus"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['maritalStatus'].errors || f['maritalStatus'].touched&& f['maritalStatus'].errors }">

                                                <option value="">Choose maritalStatus</option>
                                                <option value="female">Married</option>
                                                <option value="male">Single</option>

                                            </select>
                                            <div *ngIf="Submitted && f['maritalStatus'].errors|| f['maritalStatus'].touched&& f['maritalStatus'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['maritalStatus'].errors['required']">Marital Status is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="name"
                                                formControlName="motherName" placeholder="Mother Name"
                                                [ngClass]="{ 'is-invalid': Submitted && f['motherName'].errors || f['motherName'].touched&& f['motherName'].errors }" />
                                            <div *ngIf="Submitted && f['motherName'].errors|| f['motherName'].touched&& f['motherName'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['motherName'].errors['required']">Mother Name is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="title" id="title"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['title'].errors || f['title'].touched&& f['title'].errors }">

                                                <option value="">Choose title</option>
                                                <option value="female">Mr</option>
                                                <option value="male">Mrs</option>

                                            </select>
                                            <div *ngIf="Submitted && f['title'].errors|| f['title'].touched&& f['title'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['title'].errors['required']">Title is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" class="form-control " id="password"
                                                formControlName="password" placeholder="Password"
                                                [ngClass]="{ 'is-invalid': Submitted && f['password'].errors || f['password'].touched&& f['password'].errors }" />
                                            <div *ngIf="Submitted && f['password'].errors|| f['password'].touched&& f['password'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['password'].errors['required']">Password is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="name" formControlName="addressLine2"
                                                placeholder="Address 2"
                                                [ngClass]="{ 'is-invalid': Submitted && f['addressLine2'].errors || f['addressLine2'].touched&& f['addressLine2'].errors }" />
                                            <div *ngIf="Submitted && f['addressLine2'].errors|| f['addressLine2'].touched&& f['addressLine2'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['addressLine2'].errors['required']">Adress line 2 is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <select class="form-select" formControlName="cityId" id="gender"
                                                aria-label="Default select example"
                                                [ngClass]="{ 'is-invalid': Submitted && f['cityId'].errors || f['cityId'].touched&& f['gender'].errors }">

                                                <option value="">Select cityId</option>


                                            </select>
                                            <div *ngIf="Submitted && f['cityId'].errors|| f['cityId'].touched&& f['cityId'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['cityId'].errors['required']">City is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="text" class="form-control " id="note" formControlName="note"
                                                placeholder="Note"
                                                [ngClass]="{ 'is-invalid': Submitted && f['note'].errors || f['note'].touched&& f['note'].errors }" />
                                            <div *ngIf="Submitted && f['note'].errors|| f['note'].touched&& f['note'].errors"
                                                class="invalid-feedback">
                                                <div *ngIf="f['note'].errors['required']">Note is required

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="float-right justify-content-center   mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="reset" class="btn ms-3 btn-danger" (click)="onSubmit()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>