<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./../../assets/home1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="./../../assets/Inspirational_quotes_for_nurses-scaled-edited4.jpg" class="d-block w-100" alt="...">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="tg-main-section tg-haslayout " style="background-color: #f3fafb;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 mt-3 order-2 order-lg-1">
        <img class="img-fluid" src="./../../assets/book-my-doctor-in-chennai.png">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 align-middle mt-5 order-1 order-lg-2">
        <h1 class="mt-5" style="font-family: segoe UI; "><b>ABC</b></h1>

        <p style=" font-size: medium; ">ABC is an online healthcare platform supporting the healthcare professionals in
          Managing their appointments .</p>
        <button class="btn" routerLink="/consultancy"
          style="background-color: rgb(18,55,94); color: white; border-radius:35px; "><b>Book Appointment <i
              class="fa fa-arrow-right" aria-hidden="true"></i></b> </button>
      </div>


    </div>
  </div>
</section>
<section id="how-works" class="tg-main-section tg-haslayout padd_70 hw_back " style="background-color:rgb(246,246,246)">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 justify align_center h_app_con mt-5 ">
        <h1 class="mt-5" style="font-family: segoe UI; "><b>Appointment Confirmation</b></h1>

        <p class=" font-size: medium;">You receive an instant confirmation on your booked appointment and any other
          services that you might have availed through booking like re-scheduling your appointment, etc.</p>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 mt-5">
        <img class="img-fluid" src="./../../assets/appoinment.png">
      </div>
    </div>
  </div>
</section>
<section id="smsremind" class="tg-main-section tg-haslayout padd_70 hw_back res_mar_top20 "
  style="background-color: #f3fafb;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 mt-5 order-2 order-lg-1">
        <img class="img-fluid" src="./../../assets/smsreminder.png">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 justify align_center h_sms_rem mt-5 order-1 order-lg-2">
        <h1 class="mt-5" style="font-family: segoe UI; "><b>SMS Reminder</b></h1>
        <p class=" font-size: medium;">ABC will send you prompt reminders about your drug dosages and appointments
          scheduled/to be scheduled. This will ensure that you don’t miss out on medication or visiting your Medical
          practitioner.</p>
      </div>

    </div>
  </div>
</section>
<section id="how-works" class="tg-main-section tg-haslayout padd_70 hw_back  mb=5"
  style="background-color:rgb(246,246,246)">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6 col-xs-12 justify align_center h_app_con mt-5">
        <h1 class="mt-5" style="font-family: segoe UI; "><b>Doctors</b></h1>

        <p class=" font-size: medium;">The doctors can easily specify their available days and times to specify when the
          patients can book an appointment and to custom duration option to set how long the appointment will take
          place.</p>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12 mt-5 mb-5">
        <img style="border-radius: 50px 0px 50px 0px;" class="img-fluid"
          src="./../../assets/1636_U1RVRElPIEtBVCAzNjctMDU.jpg">
      </div>
    </div>
  </div>
</section>

<div class="tg-quicklinks text-light mt-3  " style="background-color:rgb(53,52,52)">
  <div class="container">
    <div class="row col-md-12 col-sm-12 col-xs-12 ">
      <div class="col-md-4 col-sm-4 col-xs-12  mt-5" style="line-height:2.5 ; ">
        <div class="tg-fcol footercenter_1">
          <ul class="tg-contactinfo tg-specialities" style="list-style-type: none;">
            <li><i class="fa fa-phone me-3" aria-hidden="true"></i><span>+91 74186 01346</span></li>
            <li><i style="font-size:15px" class="fa me-3">&#xf003;</i><span>info@medhos.in</span></li>
            <li><i class="fa fa-bookmark-o me-3" aria-hidden="true"></i><span>About Us</span></li>
            <li><i class="fa fa-volume-control-phone me-3" aria-hidden="true"></i><span>Contact Us</span></li>
          </ul>
        </div>


      </div>
      <div class="row col-md-4 col-sm-4 col-xs-12 mt-5 ms-2">
        <div class="tg-fcol tg-arrowicon footercenter_3" style="line-height:2.5 ;">
          <div class="tg-title  ms-3">
            <h3><b>For Doctors</b></h3>
          </div>
          <ul class="tg-contactinfo  " style="list-style-type: square;">
            <li>SignIn</li>
            <li>SignUp</li>
            <li>FAQ</li>
          </ul>
        </div>


      </div>
      <div class="row col-md-4 col-sm-4 col-xs-12 mt-5 ">
        <div class="tg-fcol tg-arrowicon footercenter_3 " style="line-height:2.5 ;">
          <div class="tg-title  ms-5">
            <h3><b>Follow us on</b></h3>
          </div>
          <ul class="tg-contactinfo  ms-3" style="list-style-type: none;">
            <img  class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
              src=".\..\assets\twitter-logo-24.png" alt="twitter-logo-24" style="width:30px ; height: 30px;"><img
              class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
              src=".\..\assets\instagram-logo-24 (1).png" alt="twitter-logo-24" style="width:30px ;" height="30px"><img
              class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
              src=".\..\assets\facebook-circle-logo-24.png" alt="twitter-logo-24" style="width:30px ;" height="30px">
            <img class="btn btn-outline-light rounded-pill p-1 mx-1 btn-social mx-1" href="#"
              src=".\..\assets\whatsapp-logo-24.png" alt="twitter-logo-24" style="width:30px ;" height="30px">
          </ul>
        </div>


      </div>

      <!-- <div class="row col-md-4 col-sm-4 col-xs-12  ">
         
            <h3 class="mt-5"><b>Follow us on</b></h3>
            <img class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
            src=".\..\assets\twitter-logo-24.png" alt="twitter-logo-24" style="width:30px ; height: 30px;" ><img
            class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
            src=".\..\assets\instagram-logo-24 (1).png" alt="twitter-logo-24" style="width:30px ;" height="30px"><img
            class="btn btn-outline-light rounded-pill p-1  btn-social mx-1" href="#"
            src=".\..\assets\facebook-circle-logo-24.png" alt="twitter-logo-24" style="width:30px ;" height="30px">
          <img class="btn btn-outline-light rounded-pill p-1 mx-1 btn-social mx-1" href="#"
            src=".\..\assets\whatsapp-logo-24.png" alt="twitter-logo-24" style="width:30px ;" height="30px">
        </div> -->

    </div>

  </div>
</div>