

<div class="container mt-5">
  <table class=" table table-hover table-responsive-sm">
    <thead>
      <tr>
        <th scope="col">S. No</th>
        <th scope="col">Patient No</th>
        <th scope="col">First Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of obj ;let i = index">
        <td>{{i+1}}</td>
        <td>{{list.patientNo}}</td>
        <td>{{list.firstName}}</td>
       <td>{{list.age}}</td>
       <td>{{list.gender}}</td>
       <td>{{list.mobileNo}}</td>
       <td>{{list.status}}</td>
        <td>
          <button type="button"  class="btn btn-primary btn-sm mx-2 my-1"><a routerLink='/patientform/{{list.id}}' class="text-decoration-none text-light"><i
                class='bx bx-edit-alt'></i></a></button>
          <button type="button"  (click)="reject(list.id)" class="btn btn-danger btn-sm mx-2 my-1"><i class='bx bx-message-square-x'></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>