.footer{
    background-color: rgb(53, 52, 52);
    text-align: center;
    color: rgb(180, 180, 178);
}
.foo{
    border:2px solid rgb(194, 190, 190);
    box-sizing: border-box;
    width:auto;
    height: fit-content;
    text-align: center;
    color: rgb(180, 180, 178);
    margin-top: 30px;
    border-left: 0px ;
    border-right: 0px ;
    border-bottom: 0px ;
}
img{
    text-decoration-color:  rgb(180, 180, 178);;

}
